/* selector & declaration */
/* selector { propername:value } */
/* css variables - root & var() */
:root{
    --main-color: pink;
    --text-color: blue;
}
p{
    color:var(--text-color);
}
body{
    font-family: Arial, Helvetica, sans-serif; 
    /* shorthand */

    font: italic small-caps bold 13px/150%;
    background-color: var(--main-color);
    /* font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    line-height: 115%;
    font-size: 13px; */
}